.history
.vscode
node_modules
jest/
build/*
dist/*
public/*
helpers/*
server/*
src/**/dist/*.test.tsx
src/**/*.test.tsx
webpack.prod.js
webpack.dev.js
webpack.config.js
.eslintrc.js
postcss.config.js
